.error {
    border-color: red;
    border-radius: 20px;
    border-style: solid;
    background-color: white;
    width: 350px;
    /*height: 50px;*/
    color: #a30707;
    margin: 20px;
}

.todoListHeaderTitle{
    display: flex;
    width: 100%;
    color: white;
    /*font-weight: bold;*/
    background-color: #070fa3;
    /*margin: 0 auto;*/

}
.addItemForm{
    display: flex;
    justify-content: space-around;
    max-width: 350px;
}
.addItemForm input{
     border-style: solid;
     background-color: white;
     width: 270px;
     height: 30px;
     /*color: #11006d;*/
 }
.addItemForm button {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #ffffff;
    background-color: #070fa3;
    height: 30px;
    border: none;
    outline: none;

}.addItemForm button:hover {
     opacity: 0.8;
 }

