.container {
    display: flex;
    flex-direction: column;

}

.container button {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #ffffff;
    background-color: #070fa3;
    height: 30px;
    border: none;
    outline: none;
    width: 100px;
}

.container button:hover {
    opacity: 0.8;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}