.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container button {
    /*display: flex;*/
    margin: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    outline: none;
    font-size: 0.9em;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 0.5px #010350;

}

.container button:hover {
    opacity: 0.8;
}

/*.buttons {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    justify-content: space-between;*/
/*}*/