.drawerNavbar{
    display: flex;
    height: 26px;
    width: 20px;
    padding: 2;

}.drawerNavbarButton{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    /*justify-content: space-between;*/
    /*height: 24px;*/
    /*!*width: 30px;*!*/
    border: none;



}
.buttonDot {
    background-color: white;
    width: 12px;
    height: 6px;
    border-radius: 3px;
}