.todoListTask {
    display: flex;
    width: 100%;
    justify-content: stretch;
}
.deleteTaskButton {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #ffffff;
    background-color: #db0012;
    height: 20px;
    border: none;
    outline: none;

}.deleteTaskButton:hover {
     opacity: 0.8;
 }