/*.wednesday {*/
/*    display: flex;*/
/*    height: 100vh;*/
/*}*/

.light {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: whitesmoke;
}

.dark {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-color: #4b4b4b;
}

.blue {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #7488ff;
}
