.buttonClick button{
    font-family: BloodLust;
    width: 200px;
    height: 50px;
    font-size: 33px;
    color: #a30707;
    background-color: #111112;
    border: none;
    outline: none;
}
.buttonClick button:hover {
    font-size: 1.1em;
}